In [3]:
## Import Libraries
import pandas as pd

In [4]:
## Import Data
df = pd.read_excel('Permits by ELEM Boundary.xlsx')

In [5]:
## Save data as csv
df.to_csv('Permits_by_ELEM_Boundary.csv', index=False)

In [6]:
## Load data as csv
df = pd.read_csv('Permits_by_ELEM_Boundary.csv')

In [7]:
## Clean the df

# Write a function that only keeps the following columns: NAME, B_NAME, CATEGORY, ADDRESS_1, YEAR, MONTH, DU, PLAN, BLG_TYPE, CONTRACTOR, DESCRIPTION
def clean_df(df):
    df = df[['NAME', 'B_NAME', 'CATEGORY', 'ADDRESS_1', 'YEAR', 'MONTH', 'DU', 'PLAN', 'BLG_TYPE', 'CONTRACTOR', 'DESCRIPTION']]
    return df

In [8]:
## Using pd.pipe(), apply the function to the df
df = (df.pipe(clean_df)
      )

In [9]:
df.head()

,NAME,B_NAME,CATEGORY,ADDRESS_1,YEAR,MONTH,DU,PLAN,BLG_TYPE,CONTRACTOR,DESCRIPTION
0,Assumption Catholic Elementary School,Assumption School,Elementary,80 BARRETTE ST,2016.0,April,1.0,101,Single,OTTAWA GENERAL CONTRACTORS,Interior alterations to the kitchen and exteri...
1,Assumption Catholic Elementary School,Assumption School,Elementary,50 MARK AVE,2016.0,April,1.0,29,Apartment,CONTRACTOR UNKNOWN,Interior alterations to create a new unit in t...
2,Assumption Catholic Elementary School,Assumption School,Elementary,300 A RICHELIEU AVE,2016.0,April,3.0,289,Rowhouse,CONTRACTOR UNKNOWN,"Construct a 2 storey, 3 unit rowhouse"
3,Assumption Catholic Elementary School,Assumption School,Elementary,546 GUY ST,2016.0,May,1.0,300,Semi - Detached,CONTRACTOR UNKNOWN,Construct a 2 storey semi-detached dwelling
4,Assumption Catholic Elementary School,Assumption School,Elementary,188 BARIBEAU ST,2016.0,August,3.0,M-78,Duplex,AMSTED CONSTRUCTION LTD,Construct a 2 storey triplex

In [10]:
## Export the cleaned df to a new csv file
df.to_csv('Permits_by_ELEM_Boundary_Cleaned.csv', index=False)